<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

  <div id="app">

    <h1>Andor (tv-series)</h1>
    <h2> Main Character: Andor</h2>
    <h2>Full Cast</h2>
    <ul>
      <li v-for="character in characterList">{{character}}
        <button v-if="favoriteCharacterList.includes(character) === false" @click="addOrRemoveCharacterToFavorites(character)">Favorite</button>
        <button v-else @click="addOrRemoveCharacterToFavorites(character)">Remove</button>
      </li>
    </ul>

    <form @submit.prevent="addCharacter">
      <input
              type="text"
              v-model="characterToAdd"
              @keyup.enter="addCharacter"
      placeholder="Add a character"
      />
      <button type="submit">Add character</button> <!-- mouse / tap -->
    </form>

      <h2>My Favorites</h2>
      <ul>
        <li v-for="character in favoriteCharacterList">{{character}}</li>
      </ul>

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script>
    const {createApp} = Vue
    const app = createApp({
      data(){
        return {
          characterList: ['Cassian Andor', 'Bix Caleen', 'Luthen Rael', 'Daedra'],
          favoriteCharacterList: ['Cassian Andor'],
          characterToAdd: '',
        }
      },
      methods: {
        addOrRemoveCharacterToFavorites(character){
          if(this.favoriteCharacterList.includes(character)){
            const index = this.favoriteCharacterList.indexOf(character)
            if(index > -1){
              this.favoriteCharacterList.splice(index, 1)
            }
          }
          else{
            this.favoriteCharacterList.push(character)
          }
        },
        addCharacter() {
          const name = this.characterToAdd.trim();
          if (name) {
            this.characterList.push(name);
            this.characterToAdd = '';          // clear the input
          }
        }
      }

    })

    app.mount('#app')

  </script>
  </body>
</html>
