<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

  <div id="app">

    <h1>Andor (tv-series)</h1>
    <h2> Main Character: Andor</h2>
    <h2>Full Cast</h2>
    <ul>
      <li v-for="character in characterList">{{character.name}} - {{ character.force}}
        <button v-if="!isFavorite(character)" @click="addOrRemoveCharacterToFavorites(character)">Favorite</button>
        <button v-else @click="addOrRemoveCharacterToFavorites(character)">Remove</button>
      </li>
    </ul>

    <form @submit.prevent="addCharacter">
      <div>
        <input
                type="text"
                v-model="characterToAdd"
                @keyup.enter="addCharacter"
                placeholder="Add a character"
        />
        <input
                type="number"
                v-model="forceToAdd"
                @keyup.enter="addCharacter"
                placeholder="Add a force"
        />
        <button type="submit">Add character</button>
      </div>

    </form>

      <h2>My Favorites</h2>
      <ul>
        <li v-for="character in favoriteCharacterList">{{character.name}}</li>
      </ul>

      <h2>{{displayForceLevel}}</h2>

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script>
    const {createApp} = Vue
    const app = createApp({
      data(){
        return {
          characterList: [
            { 'name' : 'Cassian Andor', 'force' : 10},
            { 'name' : 'Bix Caleen', 'force' : 15},
            {'name' : 'Luthen Rael', 'force' : 20},
            {'name': 'Daedra', 'force' : 30}
          ],
          favoriteCharacterList: [],
          characterToAdd: '',
          forceToAdd: ''
        }
      },
      computed:{
        displayForceLevel(){
          const totalForce = this.favoriteCharacterList.reduce((sum, c) => sum + c.force, 0);
          if (totalForce > 100) {
            return 'You have great force! (^_^) (' + totalForce+ ')';
          }
          else if (totalForce > 50) {
            return 'You have good force! (' + totalForce+ ')';
          }
          else {
            return 'Add more force (' + totalForce+ ')';
          }
        }
      },
      methods: {
        isFavorite(charObj) {
          // - returns true when another object with the same name is already stored
          return this.favoriteCharacterList.some(c => c.name === charObj.name);
        },

        addOrRemoveCharacterToFavorites(charObj) {
          const index = this.favoriteCharacterList.findIndex(
                  c => c.name === charObj.name
          );

          if (index > -1) {
            this.favoriteCharacterList.splice(index, 1);
          }
          else {
            this.favoriteCharacterList.push({ ...charObj });
          }
        },
        addCharacter() {
          const name = this.characterToAdd.trim();
          const force = parseInt(this.forceToAdd);
          if (name && force) {
            this.characterList.push({'name': name, 'force': force});
            this.characterToAdd = '';
            this.forceToAdd = '';
          }
        }
      },
      watch: {
        'favoriteCharacterList.length'(newLen, oldLen) {
          console.log(
                  newLen > oldLen
                          ? 'You successfully added a new character to favorites'
                          : 'You successfully removed a character from favorites'
          );
        }
      }

    })

    app.mount('#app')

  </script>
  </body>
</html>
